/* Declaring variables */
:root {
  --primary-color: #d48a00;
  --secondary-color: #004ad4;
}

/* Accessibility */

.skip-to-content-link {
  background: #e77e23;
  height: 30px;
  left: 50%;
  top: -5rem;
  padding: 8px;
  position: absolute;
  transform: translateX(-50%);
}

.skip-to-content-link:focus {
  top: 0;
}

/* Base Styles */
#root {
  min-height: 100vh;
  background-color: rgb(31, 31, 31);
  color: white;
}

/* Element Styles */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  width: 7.5rem;
  height: fit-content;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  border: 3px solid transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* App Styles */

.app {
  display: grid;
  grid-template-rows: minmax(100vh, auto) auto;
  grid-template-areas: "main" "footer";
}

/* Header Styles */

header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "title . search";
  padding: 1rem 1rem;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10000;
  background-color: rgb(31, 31, 31);
}

header h1 {
  grid-area: title;
  font-size: 1.5rem;
}

header h1::first-letter {
  color: var(--primary-color);
}

header .search {
  grid-area: search;
  align-self: center;
  position: relative;
}

header .search input:focus-visible {
  border-color: var(--secondary-color);
}

.search .clear {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: fit-content;
  background: none;
  color: black;
  border: none;
  padding: 0;
  font: inherit;
  cursor: none;
  outline: inherit;
  font-weight: bold;
  opacity: 0.5;
}

.search .clear:focus-visible {
  border: 3px solid var(--secondary-color);
}

.clear.active {
  cursor: pointer;
  opacity: 1;
}

.search input {
  background-color: lightgray;
  padding-right: 1.5rem;
}

/* Main Styles */

main {
  margin-top: 5rem;
  grid-area: main;
  display: grid;
  grid-template-rows: auto auto;
}

/* Movie Results Styles */

.movies-results {
  display: grid;
  /* needs to auto flow */
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 1rem;
  justify-content: center;
}

/* Individual Movie Styles */

li.movie {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 450px;
}

.movie img {
  object-fit: cover;
  height: 100%;
}

li.movie .movie-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "title"
    "year"
    "."
    "more-info";
  gap: 10px;
  padding: 1rem;
}

.movie-details h2 {
  grid-area: title;
}

.movie-details p {
  grid-area: year;
}

.movie-details button {
  grid-area: more-info;
}

.movie-details button:focus-visible {
  border: 3px solid var(--secondary-color);
}

/* Error styles */

h2.error {
  text-align: center;
}

/* View More Styles */
.view-more {
  /* button must be centerd */
  margin: 0 auto;
}

/* Footer Styles */

footer {
  grid-area: footer;
  text-align: center;
  margin: 2rem 0;
}
